body{
    font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
}

.color {
    background: #059669;
}
.high{
    height: 150px;
}
.modal-ku{
    height: auto;
}
.tamaño{
   
}
.block{
color: #1F2937;
font-size: 60px;
}
.block2{
    color: #059669;
    font-size: 60px;
    }
 .block3 {
     color: #747477;
 }
 .bg-s{
     background: #F9FAFB;
 }